<div style="height:1000px; text-align: center; padding-top: 50px; background-image: linear-gradient(to bottom, #fff 0%, #cfd9df 30%);">
    <% if @developer.name != nil %>
	   <p style="font-size: 25px; padding:10px;"><b>Welcome back, <%= @developer.name.strip.split(" ")[0] %>!<br></b></p>
    <% else %>
        <p style="font-size: 25px; padding:10px;"><b>Welcome back!<br></b></p>
    <% end %>
	<p>Please select one of the following actions:</p>
	<div class="btn btn-primary my_btn" style="background-color: #476987; text-align: center; font-size: 18px; margin-bottom: 25px; margin-top: 25px; border: none;">
    	<a href="/developers/edit_profile" style="color:white; text-decoration: none; padding-left: 30px; padding-right: 30px; padding-top: 15px;">Edit My Details</a>
    </div>

    <br>
    <div class="btn btn-primary my_btn" style="background-color: #476987; text-align: center; font-size: 18px; margin-bottom: 25px; margin-top: 25px; border: none;">
        <a href="/side_projects/new" style="color:white; text-decoration: none; padding-left: 30px; padding-right: 30px; padding-top: 15px;">Add Side Project</a>
    </div>

    <br>
    <div class="btn btn-primary my_btn" style="background-color: #476987; text-align: center; font-size: 18px; margin-bottom: 25px; margin-top: 25px; border: none;">
        <a href="/side_projects/edit_side_projects" style="color:white; text-decoration: none; padding-left: 30px; padding-right: 30px; padding-top: 15px;">Edit Side Projects</a>
    </div>

    
    
    <br>
    <%= link_to "Change password", edit_developer_registration_path, :class => "btn btn-primary my_btn", :style => "background-color: #476987; text-align: center; font-size: 18px; margin-bottom: 25px; margin-top: 25px; border: none; color:white; padding-left:30px; padding-right:30px;", method: :delete, data: {confirm: ""} %>
    <br>
    <%= button_to "Log out", "/developers/sign_out/", :class => "btn", :style => "background-color: #D85537; text-align: center; font-size: 18px; margin-bottom: 25px; margin-top: 25px; border: none; color:white; padding-left:30px; padding-right:30px;", method: :delete, data: {confirm: ""} %>




</div>
