<header>
	<div style=" background: url(https://images.unsplash.com/photo-1503503330041-4cd943d2b61f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0b4a2d3084b493224a1c47daff8b390&auto=format&fit=crop&w=1702&q=80) ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);">
	    <p style="padding-top:20%; font-size:35px; background-color: #;">Awesome remote jobs from all over the globe</p>
	    <p style="padding-left: 15%; padding-right: 15%;">This will be the best job board in the world for junior developers looking to go remote. <br>'Junior', 'Mid level' and 'Senior' are very fluid terms.<br>For that reason, I won't just scrape popular job boards and job aggregators for junior positions, but also look for positions asking for zero, one or two years of experience and don't specifically say 'junior'. <br>I will also collect job positions that don't specify years of experience at all.</p>
	    <img id="card-img-top" src="https://i.imgur.com/Bdx6K2Z.png" style="height:100px; margin:30px;" />


	</div>

</header>
<div style="text-align: center; background-color: white; height:200px;">

	<h1>Under construction <span class="glyphicon glyphicon-road"></span></h1>
	<hr>
	<p>Applied for a job? Had an interview? Let others know as well and inspire them!</p>
	<a href="/applications/new" class="btn btn-success">Add Application</a>
	<a href="/applications/new" class="btn btn-success">Add Interview</a>

</div>