<h1 style="text-align: center; margin:30px;">Job Board 🕵🏼</h1>
<hr>
<p style="text-align: center; padding-right: 10%; padding-left: 10%;"><b>This will be the best job board in the world for junior developers looking to go remote. <br>I won't just scrape popular job boards and job aggregators for junior positions, but also look for positions asking for zero, one or two years of experience and don't specifically say 'junior'. I will also collect job positions that don't specify years of experience at all.</b></p>

<hr>
<div style="text-align: center; margin:30px;">

	<a href="" class="btn" style="color:white; background-color: #404040">Have Applied</a>
	<a href="" class="btn" style="color:white; background-color: #404040">Have not Applied</a>
</div>

<div style="text-align: center; margin:30px;">
	<a href="" class="btn" style="color:white; background-color: #404040">All Jobs</a>
	<a href="" class="btn" style="color:white; background-color: #404040">Says Junior</a>
	<a href="" class="btn" style="color:white; background-color: #404040">0+ years</a>
	<a href="" class="btn" style="color:white; background-color: #404040">1+ years</a>
	<a href="" class="btn" style="color:white; background-color: #404040">2+ years</a>
	<a href="" class="btn" style="color:white; background-color: #404040">Does not specify experience</a>
</div>

<% @jobs.each do |job| %>
	
	<div class="col col-lg-12" style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); text-align: center; margin-left: auto; margin-right: auto; display: block; align-self: center; margin-bottom: 20px;">
		<a style="padding:10px; color:black; text-decoration: none;" href="" ><b><%= job.title %> - <span style="margin: 15px;" class="btn btn-info">I Applied for this job</span></b></a>
		
	</div>
	<% end %>
