<header>
	<div style=" background: url(https://images.unsplash.com/photo-1503503330041-4cd943d2b61f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0b4a2d3084b493224a1c47daff8b390&auto=format&fit=crop&w=1702&q=80) ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);">
	    <p style="padding-top:20%; font-size:35px; background-color: #;">Awesome remote jobs from all over the globe</p>
	    <p style="padding-left: 15%; padding-right: 15%;">This is the best job board in the world for junior developers looking to go remote. <br>I don't just scrape popular job boards and job aggregators for junior positions, but also look for positions asking for zero, one or two years of experience and don't specifically say 'junior'.</p>
	    <img id="card-img-top" src="https://i.imgur.com/Bdx6K2Z.png" style="height:100px; margin:30px;" />


	</div>

</header>
<div style="text-align: center; background-color: white;">

	<% @jobs.each do |job| %>
		<h3 style="margin: 20px; margin-top: 0px;"><%= job.title %></h3>
		<p style="margin: 20px;"><%= job.description %></p>
		<a target="_blank" class="btn btn-primary" style="" href="<%= job.url %>">Apply Now</a><br>
		<hr>
	<% end %>

</div>