<h1 style="text-align: center; margin:30px;">Group Chat 💬</h1>
<hr>
<p style="padding-left: 20%; padding-right: 20%; text-align: center;"><b>This is where we discuss everything that has got to do with landing a remote junior position but not only.<br>This is the place where we brainstorm for Remote Junior Club and our own personal side projects.</b></p>

<hr>
<div style="text-align: center;">
	<a target="_blank" class="btn btn-success" href="https://remotejuniorclub.slack.com/messages">Take me to the Slack Group</a>
	<a class="btn btn-success" href="https://remotejuniorclub.slack.com/messages">Request Access</a>
</div>

