<div class="jumbotron text-center" style="background-image: url('https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=686e4856c06faee93838d73a7b9edfc9&auto=format&fit=crop&w=1650&q=80;');">
	  <div class="container" style="">
	    <a href="/">
	      <img src="https://i.imgur.com/WnCI104.png" style="height: 150px; margin: 10px;">
	    </a>
	    <h1 style="margin:30px; background-color: #;">Remote Junior Club</h1>
	    <h4 style="margin:30px; background-color: #;">The place where you show off your work and land that awesome job!</h4>
		<a class="btn btn-primary" style="margin-top:20px; background-color: #191919; border-color: #191919; padding:10px;" href="/">Join our community!</a>
		<a class="btn btn-primary" style="margin-top:20px; background-color: #191919; border-color: #191919; padding:10px;" href="/">Browse Jobs!</a><br><br>

	    
	  </div>
	</div>

<div style="background-color: #191919; height:500px; text-align: center; ">
	<h1 style="padding:50px; color: white;">We are a community of junior developers chasing the same dream!</h1>
	<% @developers.each do |developer| %>
		<a href="/developers/<%= developer.id %>"><img id="card-img-top" src="<%= developer.profile_image.url %>" style="border-radius: 50%; height:150px; margin:30px;" /></a>

	<% end %>
</div>
