<h1 style="text-align: center; margin:30px;">Side Projects 💻</h1>
<hr>
<p style="padding-left: 10%; padding-right: 10%; text-align: center;"><b>While experienced programmers have their previous work experience to put down on their resume, us juniors have to prove we are capable of working for a company on our own. After talking to hiring managers at startups hiring juniors, I saw that they are looking for passionate people that are not afraid to get their hands dirty. In other words, they are looking for side projects.</b></p>


<hr>
<div style="text-align: center; background-color: white;">

	<% @side_projects.each do |sp| %>
	<div class="col col-lg-12" style="background-image: linear-gradient(to top, #a8edea 10%, #fed6e3 120%); text-align: center; margin-left: auto; margin-right: auto; display: block; align-self: center; margin-bottom: 20px;">
		<a style="color:black; text-decoration: none;" href="/side_projects/<%= sp.id %>" ><img id="card-img-top" src="<%= sp.image.url %>" style=" height:50px; margin:20px;" /><b><%= sp.name %> </b>- <%= sp.description %></a>
		
	</div>
	<% end %>

</div>